@model IEnumerable<Vidly.Models.Movie>

@{
	ViewData["Title"] = "Movies";
}

<!DOCTYPE html>
<html>
<body>

	<div class="container p-3">
		<div class="col-6">
			<h2 class="text-primary">Movies</h2>
		</div>
	</div>


	<table id="movies" class="table table-bordered table-hover">
		<thead>
			<tr>
				<a asp-controller="Movies" asp-action="MovieForm" class="btn btn-primary mb-3">New Movie</a>
			</tr>
			<tr>
				<th>ID</th>
				<th>Movie</th>
				<th>Genre</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<!-- Now since we are using our API to render this table we don't need to render the movie on server
                    so we can rid of this foreach block. But we are leaving the table structure as the placeholder for dataTable.
                    Also in our action we don't need to get list of customers because again our DataTable is going to send an ajax request to get them from our cusatomer API.
                    So in our Solution explorer

                    For more information see dataTable_file.js
                -->
				@*
			@foreach (var movie in Model)
			{
				<tr>
					<td>
						<a asp-route-id="@movie.Id" asp-controller="Movies" asp-action="Details">@movie.Name</a>
					</td>

					<td>
						@movie.Genre.Name
					</td>

					<td>
						<a asp-route-id="@movie.Id" asp-controller="Movies" asp-action="Delete">Delete</a>
					</td>
				</tr>
			}
			*@
		</tbody>
	</table>

	@section scripts{
		<script src="~/js/datatable_file_movie.js"></script>
	}
</body>
</html>