@{
    ViewData["Title"] = "Delete Page";
}

<!DOCTYPE html>
<html>
<body>

    <div class="container p-3">
        <div class="col-6">
            <h2 class="text-primary">Customer Deleted</h2>
        </div>
    </div>

</body>
</html>